body {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}

a {
	color: #000;
	text-decoration: none;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

a:hover, a:focus {
	color: #ff0033 !important;
	text-decoration: none;
}

.container {
	max-width: 968px;
	min-width: 320px;
	padding-left: 0;
	padding-right: 0;
}

/* ################## top-header ###################*/

#top-header {
	min-height: 40px;
	border-bottom: 1px solid #ccc;
}

#top-header .search-form {
	float: right;
	line-height: 35px;
	margin-left: 10px;
	width: 0;
	overflow: hidden;
	-webkit-transition: all .25s ease-in-out;
	   -moz-transition: all .25s ease-in-out;
	    -ms-transition: all .25s ease-in-out;
	     -o-transition: all .25s ease-in-out;
	        transition: all .25s ease-in-out;
}

#top-header .search-form.show {
	width: 180px;
} 

#top-header .top-menu {
	font-size: 12px;
	float: left;
}

#top-header ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#top-header ul li {
	float: left;
}

#top-header .top-menu ul li {
	margin: 10px;
}

#top-header .top-menu a {
	color: #9E9E9E;
}

#top-header .top-menu a:hover {
	border-bottom: 2px solid #9E9E9E;
	padding-bottom: 13px;
	border-bottom: 3px solid #FF0033;
	-webkit-transition: none;
		-moz-transition: none;
		 -ms-transition: none;
		  -o-transition: none;
			  transition: none;
}


#top-header .search-header {
	float: right;
}

#top-header .social-group {
	float: right;
}

#top-header .social-group ul li {
	margin: 5px 2px;
}

#top-header .social-group a {
	height: 30px;
	width: 30px;
	background-color: #f8f8f8;
	display: block;
	border-radius: 5px;
}

#top-header .social-group a:hover {
	background-color: #eee;
	border-radius: 0;
	-moz-box-shadow:    		inset 0 0 10px #838383;
		-webkit-box-shadow: 	inset 0 0 10px #838383;
				box-shadow:     inset 0 0 10px #838383;
}

#top-header .social-group .fa {
	margin-top: 8px;
	margin-left: 10px;
}

#top-header .social-group .search-header {
	background-color: #ff0033;
	color: #fff;
}

#top-header .social-group .search-header:focus,
#top-header .social-group .search-header:active,
#top-header .social-group .search-header:hover {
	background-color: #ff0033;
	color: #fff !important;
}

/* ################## header ###################*/
/*
#logo-wrapper {
	height: 190px;
}*/

#logo-wrapper .logo {
	display: block;
	margin-top: 35px;
	margin-bottom: 30px;
}

#logo-wrapper .adverts-wrapper {
	margin-top: 35px;
}

.main-menu {
	background-color: #000;
	height: 35px;
	padding-left: 20px;
	margin-bottom: 10px;
}

.main-menu ul {
	list-style-type: none;
	font-size: 14px;
	display: block;
	padding: 0;
}

.main-menu ul li {
	float: left;
	margin-right: 75px;
	line-height: 35px;
	position: relative;
}

/*.main-menu ul li:hover a:before {
  content: "★";
  position: absolute;
  left: 0;
}*/

.main-menu ul li a {
	color: #fff;
	font-weight: 700;
	-webkit-transition: color .45s ease-out;
		-moz-transition: color .45s ease-out;
		 -ms-transition: color .45s ease-out;
		  -o-transition: color .45s ease-out;
			  transition: color .45s ease-out;
}

.main-menu ul li a:hover {
	border-bottom: 4px solid #ff0033;
	padding-bottom: 10px;
}

.yellow:hover {
	color: #ffcc00 !important;
	border-bottom: 4px solid #ffcc00 !important;
	padding-bottom: 10px;
}

.blue:hover {
	color: #009fe3 !important;
	border-bottom: 4px solid #009fe3 !important;
	padding-bottom: 10px;
}

.pink:hover {
	color: #ff99cc !important;
	border-bottom: 4px solid #ff99cc !important;
	padding-bottom: 10px;
}

.teal:hover {
	color: #33cc99 !important;
	border-bottom: 4px solid #33cc99 !important;
	padding-bottom: 10px;
}

.taupe:hover {
	color: #cc9966 !important;
	border-bottom: 4px solid #cc9966 !important;
	padding-bottom: 10px;
}

/* ################## customize bootstrap css ###################*/

#site-content .row {
	margin-right: 0;
	margin-left: 0;
}

#site-content .left-content,
#site-content .right-content {
	padding-left: 0;
	padding-right: 0;
}

#site-content .left-content {
	width: 680px;
	margin-right: 8px;
}

#site-content .right-content {
	width: 280px;
}

.widget .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	color: #fff !important;
	cursor: default;
	background-color: #333333;
	border-bottom-color: transparent;
	cursor: pointer;
}

.widget .nav>li>a {
	padding: 10px 25px;
	background-color: #F5F5F5;
	font-weight: 600;
}

.widget .nav-tabs {
  	border-bottom: 0;
}

.article .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	color: #000 !important;
	cursor: default;
	background-color: #eee;
	border-bottom-color: transparent;
	cursor: pointer;
	border: 0;
}

.article .nav>li>a {
	  padding: 5px 10px;
	background-color: transparent;
	font-weight: 400;
	color: red;
}

.article .nav-tabs>li>a:hover {
	border: 0;
	background-color: #eee;
}

.search-form input[type="text"] {
	border: 1px solid #eee;
	padding-left: 10px;
	padding-right: 10px;
}

header > .row {
	margin-right: 0;
	margin-left: 0;
}

#site-content .category-title {
	font-size: 28px;
	padding-bottom: 5px;
	border-bottom: 2px solid #eee;
	margin-bottom: 10px;
	color: #000;
}

/* ################## main-content ###################*/

#main-content .item {
	margin: 0;
	margin: 5px 0;
	height: auto;
}

#main-content .item:first-child {
	margin: 0;
}

#main-content .item .item-image {
	padding: 0;
	width: 420px;
	height: 195px;
}
#main-content .item .item-image img {
	width: 100%;
	height: 100%;
}

#main-content .item .item-detail {
	padding: 10px;
	border-top: 2px solid #eee;
	border-right: 2px solid #eee;
	border-bottom: 2px solid #eee;
	height: 195px;
	width: 260px;
}

#main-content .item .item-detail h4 {
	margin: 0;
}

#main-content .item .item-detail .item-title {
	margin-bottom: 10px;
	font-size: 12px;
}

#main-content .item .item-detail .item-excerpt {
	line-height: 15px;
	color: #737373;
	margin-bottom: 10px;
	font-size: 12px;
}

#main-content .item .item-detail .item-read-more {
	margin-bottom: 10px;
	font-size: 12px;
}

#main-content .item .item-detail .item-read-more a {
	color: #ff0033;
}

#main-content .item .item-detail .item-read-more a:hover {
	text-decoration: underline;
}

#main-content .item .item-detail .item-tag {
	font-size: 10px;
}

#main-content .item .item-detail .item-tag ul li a {
	color: #fff !important;
}

#main-content .item .item-detail .item-tag ul li {
	float: left;
	margin-right: 5px;
	background-color: #006633;
	background-color: #999;
	padding: 2px 3px;
}

#main-content .item .item-detail .item-tag ul li:hover {
	background-color: #006633;
}

#main-content .item .item-detail .item-tag ul {
	list-style-type: none;
	padding: 0;
	display: block;
	margin-bottom: 5px;
	overflow: hidden;
}

#main-content .featured .item-detail {
	border: 0;
	width: 255px;
}
#main-content .featured {
	border: 2px solid red;
}

#main-content .featured .item-image:before {
	content: "FEATURED";
	background-color: #336666;
	color: #fff;
	line-height: 35px;
	padding-left: 15px;
	padding-right: 35px;
	position: absolute;
	top: 5px;
	left: 0px;
	font-weight: 700;
	font-size: 14px;
}

#main-content .adverts-item {
	text-align: center;
	margin: 10px 0;
}

#load-more-post h4 {
	margin: 0;
	line-height: 35px;
	font-weight: 700;

}
#load-more-post {
	cursor: pointer;
	height: 35px;
	text-align: center;
	text-transform: uppercase;
	background-color: #ccc;
	color: #fff;
	margin-top: 20px;
	font-size: 15px;
	margin-bottom: 20px;
}

#load-more-post:active {
	  box-shadow: 0px 5px 4px 0px #999 inset;
}

/* ################## page ###################*/

.page .page-title {
	font-size: 28px;
	color: #000;
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
}

.page .flare-box {
	float: right;
	margin-bottom: 10px;
}

.page .share-box {
	padding-bottom: 10px;
	border-bottom: 2px solid #ddd;
	margin-top: 30px;
}

.page .page-content {
	color: #676767;
}

/* ################## article ###################*/

.article .page-title {
  border-bottom: 2px solid #eee;
  margin-bottom: 10px;
  overflow: hidden;
}

.article .page-title h1 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.article .page-title .meta {
	font-weight: 700;
}
.article .page-title h1 {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 28px;
}

.article .page-title .tag ul li a {
	color: #fff;
	min-width: 90px;
	display: block;
	text-align: center;
	padding: 2px 0;
}

.article .page-title .tag {
	overflow: hidden;
	margin: 10px 0;
}

.article .page-title .tag ul li a:hover,
.article .page-title .tag ul li a:focus {
	color: #fff !important;
}

.article .page-title .tag ul li {
	float: left;
	margin: 0 3px;
	background-color: #999;
}

.article .page-title .tag ul li:first-child {
	margin-left: 0;
}

.article .page-title .tag ul li:hover {
	background-color: #2e006e;
}

.article .page-title .tag ul {
	list-style-type: none;
	padding-left: 0;
}

.article .tab-pane ul li {
	margin-top: 10px;
	font-size: 12px;
	text-transform: uppercase;
}

.article .tab-pane {
  	padding: 20px 10px;
  		overflow: hidden;
}

.article .tab-pane .author-image {
	height: 100px;
	width: 100px;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.article .tab-pane .author-bio {
	width: 450px;
	float: left;
	padding: 0 10px;
}

.article .tab-pane .author-bio .author-name {
	color: red;
	font-weight: 700;
	display: block;
	font-size: 15px;
}

.article .tab-pane .share-box {
	float: left;
	width: 80px;
	border: 0;
	margin: 0;
	padding: 0;
}

.article .tab-content {
 	border-bottom: 2px solid #eee;
}

.about-author {
  	padding: 10px 15px;
}

.article .flare-box {
	float: right;
	margin-bottom: 10px;
}

.article .share-box {
	padding-bottom: 10px;
	border-bottom: 2px solid #ddd;
	margin-top: 30px;
}

.article .page-content {
	color: #676767;
}

.article .post-pagination {
  	margin: 20px 0;
}

.article .post-pagination .pagination-nav a {
	background-color: #eee;
	display: block;
	padding: 20px 10px;
	color: #999;
	text-transform: uppercase;
	font-weight: bold;
}

.article .post-pagination .pagination-nav a.next {
	text-align: right;
}

.article .post-pagination .pagination-nav a span {
	color: #ccc;
	font-size: 10px;
	display: block;
}

.article .post-pagination .pagination-nav a:focus,
.article .post-pagination .pagination-nav a:hover {
	background-color: #777;
	color: #fff !important;
}

.article .post-pagination .pagination-nav {
  	padding: 0 3px;
  	margin: 5px 0;
}

/* ################## sidebar ###################*/

#sidebar {
	border: 2px solid #eee;
}


#sidebar .widget {
	margin: 0;
}

#sidebar .widget .widget-title {
	background-color: #000;
	color: #fff;
	font-size: 14px;
  	font-weight: 700;
  	line-height: 35px;
	display: block;
	overflow: auto;
	padding-left: 20px;
	margin-left: 5px;
	margin-right: 5px;
	text-transform: uppercase;
}

#sidebar .widget.image .widget-title,
#sidebar .widget.tab .widget-title {
	display: none;
}

#sidebar .widget.image .widget-content {
	padding: 0;
	text-align: center;
}

#sidebar .widget .widget-content {
  	padding: 20px 20px 10px 20px;
}

#sidebar .widget .item .item-image {
  float: left;
  height: 70px;
  width: 70px;
  margin-right: 20px;
}

#sidebar .widget .item .item-image img {
	width: 100%;
	height: 100%;
}

#sidebar .widget .item {
  display: block;
  overflow: auto;
  padding-bottom: 20px;
  margin-top: 20px;
  border-bottom: 1px solid #ececec;
}

#sidebar .widget .item:last-child {
	border-bottom: 0;
}

#sidebar .widget .item .item-title {
	font-size: 11px;
	text-transform: uppercase;
	margin-bottom: 5px;
}

#sidebar .widget .item .item-title a {
	color: #676767
}

#sidebar .widget .item .item-title a:hover {
	color: inherit;
}

#sidebar .widget .item .item-date {
	font-size: 11px;
	color: #B3B3B3;
}


/* ################## footer ###################*/

footer {
	background-color: #262626;
	margin-top: 20px;
}

.copyright-wrapper,
.footer-wrapper {
	max-width: 1210px;
	margin: 0 auto;
	display: block;
	overflow: hidden;
}

.bottom-sidebar .widget.recent-post {
  	border-right: 1px solid #333;
  	border-left: 1px solid #333;
}

.bottom-sidebar .widget.custom .widget-title {
	display: none;
}


.bottom-sidebar .widget .widget-title {
  color: #aaa;
  font-weight: 700;
  font-size: 14px;
  padding-bottom: 15px;
  border-bottom: 1px solid #333;
}

.bottom-sidebar .widget .item-title {
	color: #818181;
	text-transform: initial;
}

.bottom-sidebar .widget .item-title:hover,
.bottom-sidebar .widget .item-title:active,
.bottom-sidebar .widget .item-title:focus {
	color: #818181 !important;
	text-decoration: underline;
}


.bottom-sidebar .widget .item-date {
	color: #C2C2C2;
}

.bottom-sidebar .widget .item {
	margin-bottom: 15px;
	padding-left: 20px;
	font-size: 13px;
	line-height: 22px;
}

.bottom-sidebar .widget .widget-content {
	padding-top: 15px;
}

.bottom-sidebar .category-list a:hover,
.bottom-sidebar .category-list a:active,
.bottom-sidebar .category-list a:focus {
	color: #eee !important;

}

.bottom-sidebar .widget.custom .thumb {
  	text-align: center;
}

.bottom-sidebar .widget.custom .excerpt {
	color: #818181;
	margin-top: 40px;
	margin-bottom: 10px;
}

.bottom-sidebar .social-group {
	margin-top: 70px;
}

.bottom-sidebar .social-group ul li {
	float: left;
	margin: 0 2px;
}
.bottom-sidebar .social-group ul {
	list-style-type: none;
	padding: 0;
}

.bottom-sidebar .social-group a {
	height: 30px;
	width: 30px;
	display: inline-block;
	color: #818181;
	background-color: #2A2A2A;
}

.bottom-sidebar .social-group a:hover {
	background-color: #eee;
	border-radius: 3px;
}

.bottom-sidebar .social-group .fa {
	margin-top: 8px;
	margin-left: 10px;
}

.bottom-sidebar .widget.custom .read-more {
	background-color: #ff0033;
	color: #fff;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	float: right;
}

.bottom-sidebar .widget.custom .read-more:hover,
.bottom-sidebar .widget.custom .read-more:focus {
	color: #fff !important;
	background-color: #EC284F;
}

.bottom-sidebar .widget.custom .read-more:active {
	background-color: #C50229;
}

.bottom-sidebar .category-list li {
	margin-bottom: 10px;
}

.bottom-sidebar .category-list a {
	color: #818181;
}

.bottom-sidebar .category-list {
	list-style-type: none;
	padding-left: 0;
	font-size: 12px;
}


.footer-wrapper {
	padding-top: 30px;
	padding-bottom: 30px;
}

.copyright {
	min-height: 110px;
	border-top: 1px solid #333;
	margin: 0;
}

.copyright .footer-menu {
	margin-top: 40px;
	display: block;
	overflow: auto;
}

.copyright .footer-menu ul {
	padding-left: 0;
	list-style-type: none;
}

.copyright .footer-menu ul li {
	float: left;
	font-size: 12px;
	padding-left: 35px;
	background-repeat: no-repeat;
	background-position: 20px center;
	background-image: url("images/bullet-th.jpg");
}

.copyright .footer-menu ul li a {
	color: #666 !important;
}

.copyright .footer-menu ul li a:hover {
	color: #ccc !important;
}

.copyright .copyright-content p {
	margin: 0;
}

.copyright .copyright-content {
	color: #C2C2C2;
	font-size: 11px;
	text-align: right;
	margin-top: 25px;
	display: block;
	overflow: auto;
}

#go-top .fa {
	margin-top: 10px;
	margin-left: 15px;
}

#go-top {
	display: none;
	position: fixed;
	bottom: 0;
	right: 70px;
	height: 45px;
	width: 45px;
	background-color: #ff0033;
	color: #fff;
	font-size: 22px;
	cursor: pointer;
}

#main-content .author {
  	height: auto;
  	overflow: hidden;
}

#main-content .author .author-image {
	float: left;
  	width: 270px;
  	height: 200px;
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size: contain;
}

#main-content .author .author-detail {
	width: 410px;
	height: 200px;
	float: left;
	padding: 15px;
	border-top: 2px solid #eee;
	border-right: 2px solid #eee;
	border-bottom: 2px solid #eee;
}

#main-content .author .name {
  font-weight: 800;
  font-size: 14px;
}

#main-content .author .bio {
  color: #737373;
  margin-bottom: 30px;
}


.author .social-group ul {
	list-style-type: none;
	padding-left: 0;
}

.author .social-group ul li {
	float: left;
	margin: 5px 2px;
}

.author .social-group a {
	height: 30px;
	width: 30px;
	background-color: #f8f8f8;
	display: block;
	border-radius: 5px;
}

.author .social-group a:hover {
	background-color: #eee;
	border-radius: 0;
	-moz-box-shadow:    		inset 0 0 10px #838383;
		-webkit-box-shadow: 	inset 0 0 10px #838383;
				box-shadow:     inset 0 0 10px #838383;
}

.author .social-group .fa {
	margin-top: 8px;
	margin-left: 10px;
}

/* ################## mobile settings ###################*/
.mobile {
  padding-bottom: 10px;
  padding-top: 10px;
}

.mobile-menu-button:hover {
	background-color: #ff0033;
	border: 1px solid #eee;
	color: #fff;
}

.mobile-menu-button {
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 26px;
	padding: 0px 10px;
	cursor: pointer;
	border: 1px solid #eee;
}

.mobile-search-form {
	width: 100%;
	padding-left: 50px;
	padding-right: 50px;
}
.mobile-search-form input[type="text"] {
	border: 1px solid #eee;
	line-height: 35px;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
}

.mobile-social-group-button {
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 26px;
	padding: 0px 10px;
	cursor: pointer;
	border: 1px solid #eee;
}

.mobile-social-group-button:hover {
	background-color: #ff0033;
	border: 1px solid #eee;
	color: #fff;
}

.menu-mobile {
	display: none;
  	padding: 10px 20px;
  	border-bottom: 1px solid #aaa;
}

.menu-mobile.show {
	height: block;
}

.menu-mobile ul {
  	list-style-type: none;
  	padding-left: 20px;
}

.menu-mobile ul li {
	border-bottom: 1px solid #fff;
  	padding: 10px 10px;
  	background-color: #eee;
}

.menu-mobile ul li:hover {
	background-color: #ddd;
	border-left: 2px solid #f03;
}

.menu-mobile ul li a {
  	width: 100%;
  	display: block;
  	height: 100%;
}

.menu-mobile h4 {
  text-transform: uppercase;
}

.social-group-mobile {
  	display: none;
  	border-bottom: 1px solid #ccc;
  	overflow: hidden;
}

.social-group-mobile.show {
	display: block;
}

.social-group-mobile ul {
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	float: right;
  	padding-left: 0;
  	padding-right: 10px;
}

.social-group-mobile ul li {
	margin: 5px;
	float: left;
}

.social-group-mobile a {
	height: 35px;
  	width: 35px;
	background-color: #f8f8f8;
	display: block;
	border-radius: 5px;
	font-size: 18px;
}

.social-group-mobile a:hover{
	background-color: #eee;
	border-radius: 0;
	-moz-box-shadow:    		inset 0 0 10px #838383;
		-webkit-box-shadow: 	inset 0 0 10px #838383;
				box-shadow:     inset 0 0 10px #838383;
}

.social-group-mobile .fa {
	margin-top: 8px;
	margin-left: 10px;
}


@media screen and (min-width: 992px) {
	.menu-mobile.show {
		display: none !important;
	}

	.social-group-mobile.show {
		display: none !important;
	}
}

@media screen and (max-width: 991px) {

	#logo-wrapper {
		text-align: center;
	}

	#site-content {
		margin-top: 20px;
	}

	#site-content .left-content {
		margin: 0 auto;
	}

	#site-content .right-content {
		margin: 0 auto;
		width: 680px;
	}

	.container {
		padding-left: 10px;
		padding-right: 10px;
	}

	.bottom-sidebar .widget {
	  	margin-bottom: 20px;
	}


	.copyright-wrapper, .footer-wrapper {
		padding-bottom: 50px;
		padding-left: 15px;
  		padding-right: 15px;
	}

	.copyright .footer-menu ul li {
		float: none;
		margin-bottom: 10px;
	}

	.bottom-sidebar .category-list {
		padding-left: 25px;
	}

	#go-top {
		right: 10px;
	}

	.main-menu {
		display: none;
	}

	#main-content .author .author-detail {
		width: 100%;
	}
	
	#main-content .author .author-image {
		float: none;
		margin: 0 auto;
	}

	.article .tab-pane .author-bio {
		width: 100%;
		margin-bottom: 10px;
	}

	.article .tab-pane .share-box {
		width: 100%;
	}

	.article .tab-pane .author-image {
		float: none;
		margin: 0 auto;
	}

	.article .post-pagination .pagination-nav a {
		width: 90%;
	}

	.article .post-pagination .pagination-nav a.next {
		float: right;
	}
}

@media screen and ((min-width: 768px) and (max-width: 991px)) {

}

@media screen and (max-width: 767px) {

	#site-content .left-content {
		width: 100%;
	}

	#main-content .item .item-image {
		width: 100%;
		height: auto;
	}

	#main-content .item .item-detail {
		width: 100%;
		height: auto;
	}

	#site-content .right-content {
		width: 100%;
	}

}
